.ai-logo {
    height: 2.5rem;
}

.ai-border-bottom {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.ai-nav-masthead .active {
    border-bottom: 0.25rem solid #3490dc;
}

.form-plain-label {
    margin-bottom: 0;
}

.form-plain-input {
    font-size: 1.2rem;
    padding: 0;
}

.ai-col-clickable {
    cursor: pointer;
}
